@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-size: 16px;
    line-height: 1.625;
    font-weight: 500;
    font-family: "Karla", sans-serif;
    color: #4c4c4c;
    outline: none;
    visibility: visible;
    overflow-X: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: "";
}

.section,
.main-wrapper {
    float: left;
    width: 100%;
}

.section-padding {
    padding-top: 130px;
}

.header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.header-area {
    padding: 0px 0;
    background-color: rgba(3, 3, 3, 0.77);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.section,
.main-wrapper {
    float: left;
    width: 100%;
}

.number {
    width: 24px;
    height: 24px;
    line-height: 22px;
    border: 1px solid #ffffff;
    background-color: #fdd9d4;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -12px;
    right: 0;
    font-size: 16px;
    font-weight: 700;
    color: #181e23;
}

.slider-content .title {
    font-size: 80px;
    font-weight: 700;
    color: #faa292;
    line-height: 1.16;
}

.single-slider {
    height: 950px !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-color: #040205; */
}

.page-banner-content .title {
    font-size: 80px;
    font-weight: 700;
    color: #faa292;
    line-height: 1.16;
}

.swiper {
    width: 100%;
    height: 300px;
}

.slider-content .slider-meta li {
    margin-right: 30px;
    padding-top: 10px;
}

.slider-content {
    max-width: 610px;
    padding-top: 12rem;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #f5a490 !important;
    border: 1px solid #faa292 !important;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}

.btn-primary {
    background-color: #faa292 !important;
    border-color: #faa292 !important;
    color: #181e23;
}

.btn {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    color: #4c4c4c;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    height: 60px;
    line-height: 60px;
    padding: 0px 35px;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    overflow: hidden;
}

.slider-content .slider-meta li .btn {
    padding: 0 40px;
    font-size: 20px;
    letter-spacing: 1px;
}

.slider-content .slider-meta li .video-play .icon {
    width: 50px;
    height: 50px;
    line-height: 44px;
    border: 3px solid #faa292;
    border-radius: 50%;
    font-size: 16px;
    color: #faa292;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.slider-content .slider-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 50px;
}

.slider-content .slider-meta li .video-play {
    font-size: 20px;
    font-weight: 700;
    color: #faa292;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.slider-content .slider-social li a {
    font-size: 22px;
    color: #faa292;
}

.slider-content .slider-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 48px;
    position: relative;
    z-index: 1;
    padding-left: 70px;
    gap: 24px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #faa292 !important;
    background: #212529;
    width: 65px !important;
    height: 65px !important;
    border-radius: 50%;
    align-items: center;
    padding: 3px 7px 3px 5px !important;
    margin: 0 auto;
    display: flex;

}

a:hover {
    text-decoration: none;
    color: #faa292 !important;
}

ul,
ol {
    padding: 0;
    list-style: none;
    margin: 0;
}

a,
button {
    color: inherit;
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

li.nav-item {
    padding: 40px 23px;
}

.coustom_nav_link {
    font-size: 20px;
    font-family: "Playfair Display", serif !important;
    font-weight: 400;
    color: #faa292 !important;
    display: inline-block;
}

.cstm_navbar_nav {
    margin-left: 0rem;
}
.breadcrumb-item{
    font-size: 16px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
    color: #fdd9d4;
    position: relative;
}
.bread_active::after {
    content: "-";
    margin: 0 15px;
}
i.fas.fa-shopping-cart {
    font-size: 35px;
    color: #faa292;

}

i.fas.fa-user-circle {
    font-size: 35px;
    color: #faa292;
}

.shopping-cart {
    position: relative;
    font-size: 30px;
    color: #faa292;
    padding: 0;
    padding-right: 12px;
    background: none;
    border: 0;
    line-height: 1.5;
}

.feature_card {
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 40px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    margin-top: 30px;
}

.feature_card:hover {
    border-color: #faa292;
    background-color: #fff9f5;
    -webkit-box-shadow: 0px 21px 32px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 21px 32px 0px rgba(0, 0, 0, 0.13);
}

.feature_card_new {
    border-color: #faa292;
    background-color: #fff9f5;
    -webkit-box-shadow: 0px 21px 32px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 21px 32px 0px rgba(0, 0, 0, 0.13);
}

.feature_card .active {
    border: 1px solid #faa292;
    border-radius: 20px;
    border-color: #faa292;
    background-color: #fff9f5;
    -webkit-box-shadow: 0px 21px 32px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 21px 32px 0px rgba(0, 0, 0, 0.13);
}

.title_name {
    font-size: 30px;
    font-weight: 600;
    color: #faa292;
    margin-top: 20px;
    letter-spacing: 1px;
}

.card-text {
    font-size: 16px;
    margin-top: 12px;
}

.about_img img {
    width: 100%;
}

.about_img::before {
    position: absolute;
    content: "";
    top: -2px;
    left: -2px;
    width: 101%;
    height: 101%;
    background-image: url("../images/about-shape.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.choose_img {
    position: relative;
    margin-top: 45px;
    width: 540px;
    height: 565px;
}

.choose_img::before {
    position: absolute;
    content: "";
    top: -2px;
    left: -2px;
    width: 101%;
    height: 101%;
    background-image: url("../images/why-chose.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about_img {
    position: relative;
    margin-top: 45px;
    width: 540px;
    height: 565px;
}

.choose_tittle {
    font-size: 20px;
    font-weight: 600;
    color: #faa292;
    letter-spacing: 1px;
}

.main_chhose {
    margin-top: 65px;
}

.service_sec {
    position: relative;
}

.service_bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 47%;
    height: 100%;
    background-image: url("assets/images/service-bg.webp");
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
}

.section_tittle {
    padding-top: 26px;
}

.second_title {
    font-size: 20px;
    font-weight: 500;
    font-family: "Karla", sans-serif;
    color: #4c4c4c;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
}

.main_title {
    font-size: 50px;
    font-weight: 700;
    color: #faa292;
    line-height: 1.2;
    margin-top: 10px;
    letter-spacing: 1px;
}

.section_tittle p {
    margin: 15px auto 0;
    max-width: 470px;
}

.service_img_title {
    font-size: 20px;
    font-weight: 700;
    color: #faa292;
    line-height: 1.2;
    letter-spacing: 1px;
}

.service_section-padding {
    padding-top: 65px;
}

.shape8_img {
    position: absolute;
    top: -10px;
    left: -45px;
    opacity: 0.38;
}

.shape7_img {
    position: absolute;
    top: -10px;
    right: 41rem;
    opacity: 0.38;
}

.serivce_img {
    max-width: 245px;
    margin: 0 auto;
}

.second_title::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background-image: url("../images/shape-1.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.shape5_img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

}

.btn::before {
    position: absolute;
    content: "";
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border-radius: 50px;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.price_wapper {
    background-color: #fff9f5;
    padding: 80px 50px 50px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-top: 50px;
}
.shap9_img{
    position: absolute;
    left: -65px;
    bottom: -22px;
    z-index: 2;
}
.shape2_img{
    position: absolute;
    top: -100px;
    left: -104px;
}
.pricing-table-wrapper{
    position: absolute;
    top: 109px;
    width: 476px;
    margin-right: 50px 
}

.single-price .title {
    font-size: 20px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    color: #333333;
    max-width: 165px;
    width: 100%;
    line-height: 35px;
}
.single-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px;
}
.single-price .line {
    width: 275px;
    height: 1px;
    background-color: #faa292;
}
.shap2_nw{
    position: absolute;
    bottom: -25px;
    right: -7rem;
}
.col_action{
    width: 50%;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
}
.footer_section{
    padding-top: 130px;
}
.widget-title{
    font-size: 32px;
    font-weight: 600;
    color: #faa292;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
}
.fotter_tittle_info h6{
    font-size: 16px;
    font-weight: 700;
    font-family: "Karla", sans-serif;
    color: #181e23;
    padding-bottom: 4px;
}
.fotter_link ul li{
    margin-top: 10px;
}
.copyright{
    padding: 10px 0 20px;
    background-color: #fea797;
}
.copyright_tittle{
    padding-top: 30px;
}
.head-banner-content{
    font-size: 16px;
    color: #faa292;
    font-weight: 600s;
    max-width: 500px;
}
.cstm_control{
    padding: 0px 20px;
    height: 50px;
    border-radius: 15px;
    box-shadow: none;
    color: #a9a8a8;
    font-size: 16px;
    font-weight: 400;
    background: transparent;
    width: 100%;
}
.google_btn{
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    color: #4c4c4c;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    height: 60px;
    line-height: 60px;
    padding: 0px 35px;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    overflow: hidden;
    background-color: #181e23;
    color: #fff;
}
.google_btn::before{
    position: absolute;
    content: "";
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border-radius: 50px;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.now{
    color: #f5a490;
}
.price_rating{
    font-size: 16px;
    font-weight: 600;
    color: #212529;
    margin: 0px 10px;
}
.shop-heading{
    color: #f5a490;
    font-size: 33px;
    font-weight: 600;
}
.shoaping-card{
    border-radius: 12px;
    border: 1px solid #faa292;
}
.page-item.active .page-link{
    background-color: #faa292 !important;
    border-color: #faa292 !important;
}
.page-link{
    color: #181e23 !important;
}
.image-sec{
    border-radius: 45px;
}
.contact-sub-tittlt{
    font-size: 28px;
    font-weight: 700;
    color: #faa292;
    line-height: 1.2;
    margin-bottom: 10px;
}
.social{
    display: flex;
    gap: 35px;
    align-items: center;
}
ul.social {
    font-size: 20px;
}
textarea {
    padding-top: 10px !important;
    height: 250px !important;
    resize: none;
    border-radius: 15px !important;
}
.contact-form-image {
    padding-left: 84px;
    padding-right: 50px;
}
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media only screen and (max-width: 767px) {
    li.nav-item {
        padding: 0px 0px;
    }

    .service_bg {
        display: none;
    }

    .about_img {
        position: relative;
        margin-top: 45px;
        width: 100%;
        height: auto;
    }

    .slider-content .title {
        font-size: 40px;
    }

    .single-slider {
        height: 500px !important;
    }

    .slider-content {
        max-width: 610px;
        padding-top: 5rem;
    }

    .feature_card_new {
        border-color: #faa292;
        background-color: #fff9f5;
        -webkit-box-shadow: 0px 21px 32px 0px rgba(0, 0, 0, 0.13);
        box-shadow: 0px 21px 32px 0px rgba(0, 0, 0, 0.13);
    }

    .shape7_img {
        position: absolute;
        top: -10px;
        right: 0rem;
        opacity: 0.38;
    }
}